{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT:3000} {
    log {
        format json
    }

    rewrite /health /*

    # NEW - pipe /media/* to the backend
    handle_path /media/* {
        reverse_proxy https://valiant-creativity-production.up.railway.app
    }

    root * dist

    encode gzip
    file_server
    try_files {path} /index.html
}