# Ignore Python cache files
**/__pycache__
**/*.py[codod]

# Ignore Django media and static directories
backend/media
backend/staticfiles

# Ignore environment files and virtual envs
env/
backend/.env
frontend/.env

# Ignore Node artifacts
frontend/node_modules
frontend/dist
frontend/.vite

# Misc
.DS_Store
.git
.vscode
